
*{
    /* Universal */
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

nav {
    display:flexbox;
    background-color: #d6d6d6e1;
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template:
      'menu header header header header header'
      'menu main main main main right'
      'footer footer footer footer footer footer';
    grid-gap: 5px;
    padding: 5px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
  }

x

  p::first-letter {
      font-size: 30px;
  }
