
*{
    /* Universal */
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
}
h1 {
    font-size: 40px;
    text-align: center;
}
h2 {
    font-size: 30px;
}
nav {
    display:inline-block;
    background-color: hsl(0, 0%, 84%);
    padding: 3vh;
    word-spacing: 3vh;
    text-align: center;
    border: 3px solid gray;

}
nav > a {
  font-family: 'Dela Gothic One', cursive;  
  font-size: 30px;
  color: rebeccapurple;
}
nav > a:hover {
  color: black;
}
aside {
  max-width: 20vw;
  border: 3px solid gray;
  padding-right: 100px;
  box-sizing: border-box;
}
footer {
  position: relative;
  bottom: 0%;
  text-align: center;
  border: 3px solid gray;
}
figure {
  position: relative;
  right: 45px;
  width: 100%;
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template:
      'menu menu menu menu menu right'
      'main main main main main right'
      'footer footer footer footer footer footer';
    grid-gap: 0,99px;
    padding: 5px;
}
  
.grid-container > aside {
    padding: 30px 5px;
    text-align: right;
}

.flex-container {
  display: flex;

}

p {
  text-indent: 8px;
}
p::first-letter {
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .grid-container {
    display: inline; 
    text-align: left;
  }
  aside {
    max-width: 100vw;
    border: none;
    text-align: left;
    padding: 0px;
  }
}
